@charset "UTF-8";
/* CSS Document */
.navbar .nav > li .dropdown-menu {
	margin: 0;
}
.navbar .nav > li:hover .dropdown-menu {
	display: block;
}
.carousel-indicators {
	bottom: -400px;
}
.navbar-default {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
}
body {
	background-color:#eee;
	min-width: 1906px;
}
.main {
	margin-left:20%;
	margin-right:20%;
	margin-top: 45px;
	margin-bottom: -11px;
	min-height:2000px;
	background-color:rgba(255, 255, 255, 0.64);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
}

.player_main {
	width: 850px;
	position: absolute;
}

.col-lg-8 {
	padding-left:0;
	padding-right:0;
}

.player_win {
	height: 520px;
	min-width: 1144px;
}

.commandList {
	min-height: 445px;
	position: relative;
	width: 294px;
	margin-left: 850px;
	box-shadow: inset 0 1px 0 rgba(172, 160, 160, 0.15),0 1px 5px rgba(0, 0, 0, 0.075);
}

.list-header {
	border-color: #F0EEEE;
	min-height: 78px;
	display: none;
	box-shadow: inset 0 1px 0 rgba(214, 214, 214, 0.15),0 1px 5px rgba(39, 39, 39, 0.58);
}

/*************
**************/
.control {
background: #FFF;
color: #919191;
position: relative;
bottom: 5px;
height: 20px;
width: 850px;
border: 1px solid;
}

.btnPlay {
    position: absolute;
    width: 3%;
}

.progressBar {
position: absolute;
width: 60%;
height: 42%;
margin-top: 0.7%;
margin-left: 3%;
cursor: pointer;
background-color: #888888;
}
.bufferBar {
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: #3EADEB;
}
.timeBar
{
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background-color: #2D92CA;
}

.time {
width: 10%;
position: absolute;
text-align: center;
font-size: 11px;
line-height: 12px;
margin-left: 63.5%;
margin-top: 0.46%;
}

.playbtn {
	position: relative;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	left: 5px;
}
.sound {
	position: absolute;
	margin-left: 74%;
	margin-top: -0.1%;
}
.soundbtn {
	position: relative;
	top: 2px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* VOLUME BAR CSS */
/* volume bar */

.volume {
position: absolute;
cursor: pointer;
width: 7%;
height: 6px;
margin-left: 76.5%;
margin-top: 0.8%;
background-color: #888888;
}
.volumeBar{
	display:block;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#3EADEB;
	z-index:10;
}